.body{
    margin: 0;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

/*NAVBAR-----------------------------------------------------------------------------*/

.main-navbar{
    display: flex;
    width: 100%;
    background-color: #6870F0;
    justify-content: space-between;
	align-items: center;
}

.navbar-buttons-list{
    display: flex;
}

.navbar-user-info{
    display: flex;
    align-items: center;
}

.navbar-user-info:last-child{
    margin-right: 2%;
}

.navbar-button{
    height: 100%;
    align-content: center;
    transition: 0.2s;
    text-decoration: none;
}

.navbar-button:hover{
    background-color: white;
    color: #6870F0;
}

.navbar-button:active{
    background-color: white;
    transform: scale(0.95);
}

.navbar-button-text{
    font-size: 1.25rem;
    padding: 10px;
    align-items: center;
    color: white;
}

.navbar-button-text:hover{
    color: #6870F0;
}

.navbar-button-text:active{
    color: #6870F0;
}

.navbar-user-name{
    font-size: 1.25rem;
    padding: 10px;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

/*CONTENT-----------------------------------------------------------------------------*/

.main-content{
    height: 94%;
    padding: 3%;
    overflow-y: scroll;
}

.content-table{
    margin: 10px;
    text-align: center;
    vertical-align: middle !important;
}

.table-acciones-list{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

.examination-container{
    display: grid;
}

.examination-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 10px;
}

.row-title{
    font-weight: bold;
    text-align: left;
    width: 50%;
}

.row-subtitle{
    font-weight: 600;
    text-align: center;
    width: 50%;
}

.row-content{
    text-align: center;
    width: 50%;
}

.examination-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.column-table{
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 14px;
}

.column-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    gap: 10px;
    width: 100%;
}

.readonly-field {
    background-color: #f2f2f2;
    padding: 10px 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    min-height: 38px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.divider {
	width: 100%;
	border-top: 2px dashed #000;
	margin-top: 30px;
	margin-bottom: 30px;
}